/* style.css */
* {
   font-size: 1.05em;
     vertical-align: middle;
}

body, html{
  height :100%;
  font-size: 3em;
}

#wrapper{
   display: flex;
  flex-flow: column;
  height : 100%
}

#section1 {
  background-color: #512da8;
  color: white;
  padding-top:40px;
}

#section2
{
  padding-bottom: 5%;
}

#section2 .col-md-6
{
  text-align : center;
}
#section3 {
  background-color: #eeeeee;
  color: #4527a0;

  flex:1;
}

#logo {
  max-width: 30%;
}



.ion-social-twitter
{
   border-radius: 5px;
  background-color: #512da8;
  color:white;
}
#features
{
  width:80%;
  margin:auto;
  text-align: left;
}


#section1 i
{
  display: inline-block;
  width: 2em;
  text-align: center;
  font-size: 2em;
}

#section2 i
{
  display: inline-block;
  width: 1.3em;
  text-align: center;
  font-size: 2em;
}
