/* style.css */
* {
     vertical-align: middle;
     font-family: 'Roboto', sans-serif;
}

body, html{
  height :100%;
}

 #logo g path{
  fill : #0f0 !important;
}

#subtitle{
  margin-top:-0.5%;
}


#wrapper{
   display: flex;
  flex-flow: column;
  height : 100%
}

#section1 {
  background-color: #225378;
  color: white;
  padding-top:40px;
}

#section2
{
  padding-bottom: 5%;
  background-color: white;
}

#section2 .col-md-6
{
  text-align : center;
}
#milestones {
  background-color: white;
  color: #4527a0;

  flex:1;
}

#logo {
  max-width: 30%;
}



.ion-social-twitter
{
   border-radius: 5px;
  background-color: #1695A3;
  color:white;
}
#features
{
  width:80%;
  margin:auto;
  text-align: left;
}


#section1 i
{
  display: inline-block;
  width: 2em;
  text-align: center;
  font-size: 2em;
}

#section2 i
{
  display: inline-block;
  width: 1.3em;
  text-align: center;
  font-size: 2em;
}

.ion-bug
{
  color: #fdd835 ;
}
.ion-stats-bars
{
  color:#ff6f00;
}


.ion-gear-a
{
  color:#039be5;
}

.ion-monitor
{
  color: #ff5252;
}

.ion-paper-airplane
{
  color:#388e3c;
}
h3
{
  font-size:1.3em;
}

#metrics_deploy
{
  background-color: #F6F6F6;
}
#version_virtual
{
  background-color: white;
}
#build_test
{
  background-color: #F6F6F6;
}


#description i{
  font-size: 1.8em;
  margin-right: 1%;
}


#description .row p
{
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}


#description > div
{
    padding-top:0%;
    padding-bottom:2%;
}


#description h3
{
  text-align: left;
  margin-left:15%;
}
